In [1]:
!pip install findspark

Requirement already satisfied: findspark in /opt/conda/lib/python3.11/site-packages (2.0.1)

In [2]:
import findspark

In [3]:
findspark.init()

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.master("local").getOrCreate()

In [7]:
data = [
    {"N1":2},
    {"N1":3},
    {"N1":4},
    {"N1":5}
]

In [9]:
tbls = spark.createDataFrame(data)

In [10]:
data2 = [
    {"N2":1},
    {"N2":2},
    {"N2":3},
    {"N2":4},
    {"N2":5},
    {"N2":6},
    {"N2":7},
    {"N2":8},
    {"N2":9},
    {"N2":10},
]

In [13]:
els = spark.createDataFrame(data2)

In [19]:
from pyspark.sql.functions import concat, col, lit

In [37]:
tbls.crossJoin(els).select(concat("N1", lit('X'), "N2", lit(' = '), col("N1")*col("N2")).alias("Tables")).show(n=30)

+---------+
|   Tables|
+---------+
|  2X1 = 2|
|  2X2 = 4|
|  2X3 = 6|
|  2X4 = 8|
| 2X5 = 10|
| 2X6 = 12|
| 2X7 = 14|
| 2X8 = 16|
| 2X9 = 18|
|2X10 = 20|
|  3X1 = 3|
|  3X2 = 6|
|  3X3 = 9|
| 3X4 = 12|
| 3X5 = 15|
| 3X6 = 18|
| 3X7 = 21|
| 3X8 = 24|
| 3X9 = 27|
|3X10 = 30|
|  4X1 = 4|
|  4X2 = 8|
| 4X3 = 12|
| 4X4 = 16|
| 4X5 = 20|
| 4X6 = 24|
| 4X7 = 28|
| 4X8 = 32|
| 4X9 = 36|
|4X10 = 40|
+---------+
only showing top 30 rows

In [30]:
tbls.createOrReplaceTempView("t1")

In [31]:
els.createOrReplaceTempView("e1")

In [34]:
spark.sql(
    '''select concat(t1.N1,'X',e1.N2,' = ',t1.N1*e1.N2) tables from t1,e1'''
).show()

+---------+
|   tables|
+---------+
|  2X1 = 2|
|  2X2 = 4|
|  2X3 = 6|
|  2X4 = 8|
| 2X5 = 10|
| 2X6 = 12|
| 2X7 = 14|
| 2X8 = 16|
| 2X9 = 18|
|2X10 = 20|
|  3X1 = 3|
|  3X2 = 6|
|  3X3 = 9|
| 3X4 = 12|
| 3X5 = 15|
| 3X6 = 18|
| 3X7 = 21|
| 3X8 = 24|
| 3X9 = 27|
|3X10 = 30|
+---------+
only showing top 20 rows

In [38]:
tbls.join(els).select(concat("N1", lit('X'), "N2", lit(' = '), col("N1")*col("N2")).alias("Tables")).show()

+---------+
|   Tables|
+---------+
|  2X1 = 2|
|  2X2 = 4|
|  2X3 = 6|
|  2X4 = 8|
| 2X5 = 10|
| 2X6 = 12|
| 2X7 = 14|
| 2X8 = 16|
| 2X9 = 18|
|2X10 = 20|
|  3X1 = 3|
|  3X2 = 6|
|  3X3 = 9|
| 3X4 = 12|
| 3X5 = 15|
| 3X6 = 18|
| 3X7 = 21|
| 3X8 = 24|
| 3X9 = 27|
|3X10 = 30|
+---------+
only showing top 20 rows